.AllProducts__container {
  display: flex;
  flex-direction: column;
  padding: 2em;
}

.Allproducts__container {
  margin-top: 3em;
  display: flex;
  flex-wrap: wrap;
}

.Router__link > img {
  width: 90%;
  margin-bottom: 1.5em;
  transition: transform 0.4s;
}

.Router__link > img:hover {
  transform: scale(1.2);
}

.all_products {
  width: 20%;
}

.AllProducts__container > h3 {
  font-size: 2rem;
}
.Text > h3 {
  font-size: 2rem;
}

.Text {
  display: flex;
  justify-content: space-between;
}

.Store__buttonAdd {
  background-color: black;
  color: white;
  padding: 0.5em 1em;
}

.Store__buttonRemove {
  background-color: red;
  color: white;
  padding: 0.5em 1em;
}

@media screen and (max-width: 1000px) {
  .Allproducts__container {
    display: flex;
    flex-direction: column;
  }

  .Router__link > img {
    width: 100%;
  }
  .all_products {
    width: 70%;
  }
}
